.aboutme-container{
    margin-top: 100px;
    width: 100%;
}
.aboutme-container .personnal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.personnal-info h2{
    color: var(--heading-color);
    font-family: var(--heading-font);
}
.personnal-info p{
    margin-top: 50px;
    line-height: 35px;
    font-size: 20px;
    width: 900px;
    color: var(--heading-color);
    font-family: var(--heading-font);
}
.personnal-info button{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    color: var(--heading-color);
    background-color: var(--button-color);
    padding: 6px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.my-qualifications{
    margin-top: 90px;
}
.my-qualifications h2{
    color: var(--heading-color);
    font-family: var(--heading-font);
    text-align: center;
}
.my-qualifications .qual-table{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qual-table table{
    width: 900px;
    color: var(--heading-color);
}
table thead tr th{
    font-size: 16px;
    font-family: var(--heading-font);
    color: var(--heading-font);
    padding: 20px 100px ; 
    border-bottom: 1px solid #fff;
}
table tbody tr td{
    /* padding: 20px; */
    padding: 15px 100px ;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-family: var(--secondary-font);
}
.my-experience h2{
    text-align: center;
    color: var(--heading-color);
    font-family: var(--heading-font);
    margin-top: 120px; 
}
.my-experience-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.my-experience-grid .experience{
    border: 1px solid #b075d3;
    background: linear-gradient(135deg, #2F1847, #5A2A75, #5045e8);
    border-radius: 9px;
    padding: 20px;
    height: 160px;
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;
}
.experience::before{
    content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(
    120deg,
    #2F1847,
    #5A2A75,
    #A855F7,
    #E8458B,
    #5A2A75,
    #2F1847
  );
  background-size: 300% 300%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease;
  animation: borderMove 4s linear infinite;
}
.experience:hover::before {
    opacity: 1;
  }
  
.experience:hover {
    transform: translateY(-5px);
}
@keyframes borderMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.experience h3{
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 20px;
}
.experience p{
    padding-top: 6px;
    color: var(--paragraph-color);
    font-family: var(--secondary-font);
}