    .navbar-container{
        width: 100%;
        height: 800px;
    }
    .navbar-container h3{
        color: var(--heading-color);
        font-family: var(--heading-font);
        letter-spacing: 6px;
    }
    .navbar-links{
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid #b075d3;
    }
    .navbar-links .logo h1{
        color: var(--heading-color);
        padding: 20px;
        font-family:var(--heading-font) ;
    }
    
    .navbar-links .cv-btn{
        padding: 40px;
    }
    .cv-btn button{
        padding: 8px;
        width: 140px;
        height:47px;
        font-size: 18px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-family: var(--secondary-font);
        background-color: var(--button-color);
        color: var(--heading-color);
    }
    .navbar-hero-section {
        padding-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .developer-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18px;
        /* height: 50px; */
        overflow: hidden;
    }
    
    .static-text {
        font-size: 50px;
        font-weight: 500;
        line-height: 30px;
        font-family: var(--heading-font);
        color: var(--heading-color);
    }
    
    .animated-words {
        display: inline-block;
        height: 50px;
        overflow: hidden;
    }
    
    .animated-words span {
        font-size: x-large;
        font-weight: 700;
        color: var(--paragraph-color);
        display: block;
        /* height: 50px; */
        line-height: 50px;
        font-family: var(--secondary-font);
        animation: slide 6s infinite;
    }
    
    @keyframes slide {
        0% { transform: translateY(0); }
        20% { transform: translateY(0); }
    
        33% { transform: translateY(-50px); }
        53% { transform: translateY(-50px); }
    
        66% { transform: translateY(-100px); }
        86% { transform: translateY(-100px); }
    
        100% { transform: translateY(0); }
    }
    .navbar-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .navbar-info p{
        font-size: 24px;
        color: var(--paragraph-color);
        font-family: var(--secondary-font);
        line-height: 32px;
    }
    .navbar-info .info-btn{
        margin-top: 30px;
    }
    .info-btn button{
        width: 150px;
        height: 40px;
        color: var(--heading-color);
        background-color: var(--button-color);
        padding: 6px;
        border: none;
        border-radius: 6px;
        font-size: 18px;
        cursor: pointer;
    }